PORT=5000
JWT_SECRET_KEY=socket_secret_chat
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=socket_chat
DB_PROVIDER=mongo
# DB_PROVIDER=mysql
MONGO_URI=mongodb://localhost:27017/socket_chat
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:5000